@import "./branding";

// Reset CSS

/*
**********************
* selector universal *
********************** */

*:not([class*="swal"]):not([class*="mat"]) {
  box-sizing: border-box;
}

/*
******************************************************************
* forzar tema blanco en navegadores configurados con tema oscuro *
****************************************************************** */

* {
  color-scheme: only light !important;
}

:root {
  color-scheme: only light !important;
}

/*
***********************************************
* etiquetas padre contenedoras de toda la web *
*********************************************** */

body,
app-root,
app-login,
app-home {
  display: block;
  width: 100% !important;

  height: 100vh;
  height: 100dvh;

  overflow: hidden;

  text-rendering: optimizeSpeed !important;
}

html {
  font-size: 16px;
  text-size-adjust: 100% !important;
  scroll-behavior: smooth !important;
}

html,
body {
  background-color: $medium-beige;
  line-height: 1.2;
  font-family: $Arial-DM-Sans !important;
}

/*
********************************************
* Tipografia                               *
* https://tailwindcss.com/docs/font-family *
******************************************** */

.font-mono {
  font-family: $monospace !important;
}

.font-arial-dm-sans {
  font-family: $Arial-DM-Sans !important;
}

/*
*****************
* Sweet Alert 2 *
***************** */

div.swal2-container {
  * {
    font-family: $Arial-DM-Sans !important;
  }
}

/*
*******************************************************
* Mejorar proporsion de los saltos de linea del texto *
* https://www.youtube.com/watch?v=66ky3Dopcq0&t=282s  *
******************************************************* */

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h5,
h6 {
  text-wrap: pretty;
}

/*
*********************************************************************
* alineacion uniforme de los numeros                                *
* https://css-tricks.com/almanac/properties/f/font-variant-numeric/ *
********************************************************************* */

// etiquetas para texto
h1, h2, h3, h4, h5, h6,
p,
span,
b,

// campos con datos de entrada
input,
textarea,
select,

// contenedor padre de tabla
table,
mat-table,
.mat-table,
mat-table.mat-table,

// cuerpo de tabla
thead,
tbody,
tfoot,

tr,
th,
td,
td.custom-cell,
td.nonormal,

div.th-container,

// mat-cell
mat-cell,
.mat-cell,
td.mat-cell,

// mat-header-cell
mat-header-cell,
.mat-header-cell,

// mat-footer-cell
mat-footer-cell,
.mat-footer-cell {
  font-variant-numeric: tabular-nums !important;
}

/*
*********************************************************************************************************************************
* Eliminar color de fondo azul cuando se hace click en los enlaces <a>                                                          *
* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic *
********************************************************************************************************************************* */

a {
  -webkit-tap-highlight-color: transparent !important;
}

/*
*******************************
* cursor de botones activados *
******************************* */

button.enable,
button.enabled,
span.enable,
span.enabled,
button:enabled,
button#btn:enabled,
button.primary:enabled,
button.secondary:enabled,
button.mat-primary:enabled,
button.mat-icon-button:enabled,
input.enable,
input.enabled,
input[type="button"]:enabled,
input[type="submit"]:enabled,
input[type="reset"]:enabled,
input[type="image"]:enabled,
input[type="range"]:enabled,
input[type="color"]:enabled,
input[type="file"]:enabled::file-selector-button,
input[type="file"]:enabled {
  cursor: pointer;
}

/*
**********************************
* cursor de botones desactivados *
********************************** */

button.disable,
button.disabled,
span.disable,
span.disabled,
button:disabled:not(p-paginator button.p-paginator-element),
button#btn:disabled,
button.primary:disabled,
button.secondary:disabled,
button.mat-primary:disabled,
button.mat-icon-button:disabled,
button.mat-button-disabled,
button.mat-raised-button.mat-button-disabled.mat-button-disabled,
mat-checkbox.mat-checkbox-disabled,
fieldset:disabled,
optgroup:disabled,
option:disabled,
select:disabled,
textarea:disabled,
input:disabled,
input.disable,
input.disabled,
input[type="file"]:disabled::file-selector-button,
input[type="file"]:disabled,
input:read-only,
textarea:read-only {
  cursor: not-allowed;
  opacity: 0.6 !important;
}

mat-radio-button.mat-radio-disabled,
mat-radio-button.mat-radio-disabled label.mat-radio-label,
mat-radio-button.mat-radio-disabled label.mat-radio-label span,
mat-slide-toggle.mat-disabled,
mat-slide-toggle.mat-disabled label.mat-slide-toggle-label,
mat-slide-toggle.mat-disabled label.mat-slide-toggle-label span {
  cursor: not-allowed;
}

/*
*******************************************************
* Multimedia Responsive                               *
* https://www.youtube.com/watch?v=udGrXWeJp1Y&t=4090s *
******************************************************* */

img,
audio,
video,
canvas,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

img,
video {
  object-fit: cover;
}
