<section class="flex items-center content-center min-h-screen w-full bg-ed-gray text-center">
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <div class="max-w-md">
      <h2 class="font-extrabold text-4xl sm:text-7xl dark:text-gray-600">
        Error
      </h2>
      <h3 class="font-semibold mb-5 text-3xl dark:text-gray-600">
        404
      </h3>

      <p class="text-xl sm:text-2xl font-semibold md:text-3xl">
        Lo sentimos, no pudimos encontrar esta página.
      </p>
      <p class="italic text-[#6ba1ff] font-medium">{{ this.currentRoute }}</p>
      <p class="mt-4 mb-8 dark:text-gray-400">
        Pero no te preocupes, puedes encontrar muchas otras cosas en nuestra página de inicio.
      </p>
      <button (click)="onClickLogout()"
        class="primary font-medium rounded-3xl shadow-md shadow-[#B7B7B7] hover:relative hover:bottom-px">
        Ir a Inicio
      </button>
    </div>
  </div>
</section>
